<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Туристическая фирма</title>
</head>
<body>

<div class="header" style="background-color: black; width: 1450px; height: 800px">
    <div class="hrefs" style="text-align: center">
        <ul>
            <li style="display: inline">
                <a th:href="@{/countries}" style="color: white; font-size: 40px">Страны</a>
            </li>
            <li style="display: inline">
                <a href="cities.html" style="color: white; font-size: 40px">Города</a>
            </li>
            <li style="display: inline">
                <a href="hotels.html" style="color: white; font-size: 40px">Отели</a>
            </li>
            <li style="display: inline">
                <a th:href="@{/index}" style="color: white; font-size: 40px">На главную</a>
            </li>
            <li style="display: inline">
                <a th:href="@{/auth/logout}" style="color: white; font-size: 40px">Выйти</a>
            </li>
        </ul>
    </div>
    <p style="font-family: Arial,serif; font-size: 60px; color: white; text-align: center; margin-top: 300px">
        Посмотри на мир. Он куда удивительнее снов
    </p>
</div>
<p style="font-family: Verdana, Geneva, sans-serif; font-size: 30px; color: #222222">
    Добро пожаловать на сайт нашей туристической фирмы! Здесь вы сможете посмотреть и выбрать страны с городами, куда
    хотите
    полететь или поехать отдохнуть. А также выбрать к ним отель, который наиболее приглянулся вашему глазу. Хорошего
    отдыха:)
</p>

</body>
</html>